{% extends 'account/base.html' %}
{% load static %}

<!--title-->
{% block title %} 회원가입 {% endblock %}

<!--main content-->
{% block content %}
<div class="main-content">
    <!--header-->
    <div class="header">

    </div>
    <!-- page content -->
    <div class="container p-5 my-5">
        <div class="row justify-content-center">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="text-center mt-3">
                            <h1>회원가입</h1>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'account:signup' %}">
                            {% csrf_token %}
                            {% for f in form %}
                            <div class="form-group m-3">
                                {{f}}
                            </div>
                            {% endfor %}
                            <div class="text-center">
                                <button type="submit" class="btn bg-primary text-white ">submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
<script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>